body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 800px;
  margin: 0 auto; /* centre horizontalement */
  padding: 40px;
  text-align: center;
}
